
#hero-sec {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .hero-main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  .hero-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 180px 140px;
  }
  .hero-img {
    padding: 60px;
    width: 732px;
    
  }
  .hero-img > img {
    width: 100%;
  }
  .hero-btn-container {
    display: flex;
    gap: 15px;
    margin-top: 30px;
  }
  .black-btn {
    font-size: 20px;
    color: #fff;
    background-color: #010103;
    border: none;
    padding: 15px 30px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease,
      color 0.3s ease;
    /* box-shadow: 20px 20px 60px #0000003a, inset -20px -20px 60px #ff4c3056; */
    cursor: pointer;
  }
  .black-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #f8f8f8;
    color: #010103;
  }
