* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Rubik", sans-serif; */
  font-family: "Resolve", sans-serif;
}

.para {
  font-size: 26px;
  color: #706f7b;
}
.main-title {
  font-size: 62px;
  font-weight: 900;
  color: #010103;
  margin-bottom: 20px;
}
.title-top {
  color: #010103;
  font-size: 30px;
  margin-bottom: 18px;
}
.sec-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
 }
