* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Rubik", sans-serif; */
  font-family: "Resolve", sans-serif;
}

.para {
  font-size: 26px;
  color: #706f7b;
}
.main-title {
  font-size: 62px;
  font-weight: 900;
  color: #010103;
  margin-bottom: 20px;
}
.title-top {
  color: #010103;
  font-size: 30px;
  margin-bottom: 18px;
}
.sec-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
}
@media screen and (max-width: 992px) {
  
  .ant-typography-secondary {
    font-size: 18px !important;
  }
  h2.ant-typography {
    font-size: 25px !important;
  }
  h3.ant-typography {
    font-size: 22px !important;
  }
  .title-head{
    font-size: 25px !important;
  }
  .title{
    font-size: 42px !important;
  }
  .title-sub{
    font-size: 20px !important;
  }
}
